<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Copyright (c) Interactive Information R & D (I2RD) LLC.
  ~ All Rights Reserved.
  ~
  ~ This software is confidential and proprietary information of
  ~ I2RD LLC ("Confidential Information"). You shall not disclose
  ~ such Confidential Information and shall use it only in
  ~ accordance with the terms of the license agreement you entered
  ~ into with I2RD.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"/>
    <property name="connection.driver_class"/>
    <property name="connection.username"/>
    <property name="connection.password"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>